{% extends "/layout.html" %}
<!----->
{%block main%}
<div class="row">
    <div class="col-sm-8 col-sm-offset-3">
        <div class="admin-box">
            <a href="/admin/post" class="btn btn-primary pull-right">New Post</a>
            <h2>News Posts</h2>
            <ul class="list-group">
                {% for post in posts %}
                <li class="list-group-item">
                    <a href="/admin/post/{{post.slug}}">
                        <h3 class="list-group-item-heading">{{post.title}}</h3>
                    </a>
                    {% if post.isPublished %}
                    <p>Published {{post.published | prettyDate}}</p>
                    {% endif %}
                    <p>By {{post.author}}</p>
                </li>

                {% endfor %}
                <!----->
            </ul>
        </div>
    </div>
</div>
{% endblock %} {% block finally%}
<!-- <i onclick="deleteTeacher(this, '{{firstName}}')" class="fa fa-trash-o pull-right"></i> -->
<script>
</script>
{% endblock %}