{% macro alertBox(error, success) %}
<div class="row">
    <div id="form-alert" class="col-xs-12 alert alert-dismissable {{'alert-danger' if error}}{{'alert-success' if success}}{{ 'hidden' if not error and not success}}">
        <button class="close" type="button" onclick="$('#form-alert').addClass('hidden')">&times;</button>
        <p class="message text-center">{{error or success | safe}}</p>
    </div>
</div>
<script>
    var $alert = $("#form-alert");
    function bootstrapAlert(alertClass, msg){
            $alert.find(".message").html(msg);
            $alert.removeClass("hidden alert-info alert-danger alert-warning alert-success").addClass(alertClass).css("display", "block").alert();
            location.hash = "#form-alert";
        }
</script>
{% endmacro %}