header {
    background: url(/img/wheat.jpg) center/cover;
    min-height: 10em;
}
header h1 {
    color: white;
    background-color: rgba(0, 0, 0, .5);
    display: inline-block;
    padding: 10px;
    border-radius: .2em;
}
nav.navbar.navbar-default{
    background-color:#AE8448; 
    border-color:#AD8347;
}

nav.navbar.navbar-default a{
    color:#1C8125;
    /* color:#5769B3; */
}
nav.navbar.navbar-default li a:hover,
nav.navbar.navbar-default li.active a{
    color:#FFFFFF;
    background-color:#C9954A;
}
.navbar {
    margin-bottom: 0;
}
.nav-pills > li.active a,
.nav-pills > li.active a:hover{
    background-color:#35B855;
}