header {
    min-height: 10em;
}
header h1 {
    display: inline-block;
    padding: 10px;
    border-radius: .2em;
}
nav.navbar.navbar-default{
}

nav.navbar.navbar-default a{
}
nav.navbar.navbar-default li a:hover,
nav.navbar.navbar-default li.active a{
}
.navbar {
    margin-bottom: 0;
}
.nav-pills > li.active a,
.nav-pills > li.active a:hover{
}