body {
    background-color:@offwhite;
    font-family:@body-font, sans-serif;
    @media(min-width:@screen-xs-max){
        background-image:url(/img/slats.jpg);
    }
}
a{
    &:link{
        color: @cornerDark;
    }
    &:visited{
        color: @cornerFaded;
    }
    &:hover {
        color: @primaryLight;
    }
}
h1,h2,h3{
    font-family:@title-font, sans-serif;
    color:@primary;
    a{
        &:link,&:visited{
            color:@primary;
        }
        &:hover {
            color: @primaryLight;
        }
    }
    i.fa{
        color: @variantDark;
    }
}
main {
    padding-top: 1em;
}
main .affix {
    position: fixed;
    top: 10px;
}
main .affix-bottom {
    position: absolute;
}
