body {
    background-color:@offwhite;
    font-family:@body-font, sans-serif;
    @media(min-width:@screen-xs-max){
        background-image:url(/img/slats.jpg);
    }
}
a{
    transition: color .25s ease-in-out;
    text-decoration:none;
    &:link, &:visited{
        color: @cornerDark;
    }
    &:hover {
        color: @primaryLight;
    }
}
h1,h2,h3{
    font-family:@title-font, sans-serif;
    color:@primary;
    a{
        &:link,&:visited{
            color:@primary;
        }
        &:hover {
            color: @primaryLight;
        }
    }
    i.fa{
        color: @variantDark;
    }
}
main {
    padding-top: 1em;
}
main .affix {
    position: fixed;
    top: 10px;
}
main .affix-bottom {
    position: absolute;
}
.card {
    margin-bottom: 1em;
    margin-top: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    @media(min-width:@screen-xs-max){
        margin-top:0;
        padding:1em;
        background-color:@offwhite;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, .3);
        box-shadow: 5px 6px 15px -2px rgba(0, 0, 0, .3);
    }
}
.card.no-border {
    border-style: none;
}
