{%extends "layout.html"%}
<!------>
{% macro upcomingPrinter(classes) %}
<!------>
{{'
<p class="upcoming no-upcoming">No classes</p>' | safe if classes.length == 0}} {% for class in classes | sort(false, false,'StartDateTime')%}
<p class="upcoming">
    <time>{{class.StartDateTime | prettyTime}}</time><a href="/classes#{{class.ClassDescription.Name}}">{{class.ClassDescription.Name}} </a>w/ {{ class.Staff.Name }}</p>
{% endfor %}
<!------>
{% endmacro %}
{% block bodyattr%}class="landing"{%endblock%}
<!-------->
{% block main %}
<div class="row">

    <div id="left" class="col-xs-12 col-sm-4">
        <div id="next" class="next card">
            <h2>Upcoming Classes</h2>
            <h3>{{'Tonight' if pm else 'Today'}}</h3>
            {{upcomingPrinter(today)}}
            <h3>Tomorrow</h3>
            {{upcomingPrinter(tmrw)}}
            <a href="/schedule">
                <small>or check out our entire schedule</small>
            </a>
        </div>
        <div id="special" class="special card">
            <h2>Special Events</h2>
            <ol class="list-unstyled">
                {%for ws in workshops |attrSort("StartDateTime") %}
                <li>
                    <time>{{ws.StartDateTime | prettyDate}}</time>
                    <br>&nbsp;&nbsp;
                    <a href="#">{{ws.ClassDescription.Name}}</a>
                </li>
                {% endfor %}
            </ol>
        </div>
        <div id="contact" class="clearfix card">
            <h2>Visit Us</h2>
            <img class="pull-right img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCOyv-a1uHs4R15mdf87cdA-j8zU3GN7Qk&center=Lander,WY&zoom=16&size=100x100&sensor=false" alt="">
            <span>Ananda Yoga Lander</span>
            <br>
            <span>c/o Sylvia Carl</span>
            <br>
            <span>252 N 9th St.</span>
            <br>
            <span>Lander, Wy 82520</span>
        </div>
    </div>

    <div id="right" class="col-xs-12 col-sm-8">
        <div id="welcome" class="clearfix card">

            <img class="pull-left img-responsive" src="//lorempixel.com/200/200" alt="">
            <h2>Welcome to Lander's Ananda Yoga</h2>
            <p>Ananda is the Sanskrit word for bliss. It is a blissful, peaceful happiness. It is the kind of happiness that does not depend on your circumstances to feel a state of happiness and contentment.
            </p>
            <p>We, at Ananda Yoga Lander, strive to bring competent yoga instruction, compassion, and awareness to our community to the best of our abilities in a form true to each of our own natures in the hope of bringing further awareness to our own inner bliss that we each already possess.
            </p>
        </div>
        <section id="news" class="row">
            {%for post in posts %}
            <div class="article-wrapper col-xs-12 col-lg-6">
                <article class="card">
                    <h1>
                        <a href="/news/{{post.slug}}">{{post.title}}</a>
                    </h1>
                    <time>Published {{post.published | prettyDate}}</time>
                    <img class="img-thumbnail" src="//lorempixel.com/g/150/150" alt="">
                    <div class="post-body">{{post.body | safe}}</div>
                    <a href="/news/{{post.slug}}">Read More..</a>
                </article>
            </div>{%endfor%}
        </section>
    </div>

</div>
{% endblock %}