<!doctype html>
<html lang="en">

<head>
    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">{%block meta%} {%endblock%}
    <!-- /meta -->
    <link rel="author" href="/humans.txt">
    <!-- Styles -->
    <link rel="stylesheet" href="/styles/ananda.min.css">{%block styles%} {%endblock%}
    <!-- /styles -->



    <title>{{title +" | " if title}} Ananda Yoga</title>
</head>

<body {%block bodyattr%}{%endblock%}>
    {%if not prod%}
    <ul id="MQHelper">
        <li class="visible-xs">XS</li>
        <li class="visible-sm">SM</li>
        <li class="visible-md">MD</li>
        <li class="visible-lg">LG</li>
    </ul>{%endif%}
    <header>
        <div class="container">
            <h1>
                <a href="/">Ananda Yoga</a>
            </h1>
        </div>
    </header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    {%if admin%}
                    <li>
                        <a href="/admin" >Admin Home</a>
                    </li>
                    {%endif%}
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/schedule">Schedule</a>
                    </li>
                    <li>
                        <a href="/instructors">Instructors</a>
                    </li>
                    <li>
                        <a href="/classes">Classes</a>
                    </li>
                    <li>
                        <a href="/pricing">Membership &amp; Pricing</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="/store">Store</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <main class="container">
        {%block main%}{%endblock%}
    </main>
    <footer>
        <a href="/admin" class="pull-right">
            <i class="fa fa-cogs"></i>
        </a>
        <p class="pull-right">Site by
            <a href="//novaugust.net/blog">Matt Enlow</a>
        </p>
    </footer>
    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script>
        $('#navbar li a[href="' + window.location.pathname + '"]').parent().addClass('active');
    </script>
    {%block scripts%} {%endblock%}
    <!-- /scripts -->

    {%block finally%} {%endblock%}
</body>

</html>
