<!doctype html>
<html lang="en">

<head>
    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">{%block meta%} {%endblock%}
    <!-- /meta -->
    <link rel="author" href="humans.txt">
    <!-- Styles -->
    {%if prod%}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">{%else%}
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.min.css">{%endif%}
    <link rel="stylesheet" href="/styles/ananda.css">{%block styles%} {%endblock%}
    <!-- /styles -->



    <title>{%block title%}{{title}}{%endblock%}</title>
</head>

<body {%block bodyattr%}{%endblock%}>
    <!-- <ul id="MQHelper">
        <li class="visible-xs">XS</li>
        <li class="visible-sm">SM</li>
        <li class="visible-md">MD</li>
        <li class="visible-lg">LG</li>
    </ul> -->
    <header class="container-fluid">
        <div class="row">
            <div class="col-xs-12" id="title">
                <h1><a href="/">Ananda Yoga</a></h1>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/schedule">Schedule</a>
                    </li>
                    <li>
                        <a href="/instructors">Instructors</a>
                    </li>
                    <li>
                        <a href="/classes">Classes</a>
                    </li>
                    <li>
                        <a href="/pricing">Membership &amp; Pricing</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/store">Store</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <main class="container">
        {%block main%}{%endblock%}
    </main>
    <footer>
        <a href="/admin" class="pull-right"><i class="fa fa-cogs"></i></a>
        <p class="pull-right">&copy 2014 Matt Enlow</p>
        <p class="text-center">I haven't decided what to put here yet!</p>
    </footer>
    <!-- scripts -->
    {%if prod%}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    {% else %}
    <script src="/js/jquery-1.10.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    {% endif %} {%block scripts%} {%endblock%}
    <!-- /scripts -->

    {%block finally%} {%endblock%}
</body>

</html>
