.landing{
    #left {
        h2 {
            text-align:right;
            margin: 0;
            margin-bottom:.4em;
            border-bottom: 1px dotted rgba(0, 0, 0, .1);
            i{
                .pull-left();
            }
        }
        p.upcoming{
            margin-top:1.5em;
            padding-left:.3em;
            .class-name{
                font-family:@title-font;
            }
            time{
                display:block;
                width:100%;
                padding-left:2em;
                border-left:1px solid @variantDark;

            }
            .class-instructor{
                .pull-right();
                font-style: italic;
                font-sizes:.98;
            }
        }
    }
    #welcome {
        padding: 19px;
    }
    .article-wrapper article {
        height: 250px;
        overflow: hidden;
    }
    article {
        padding-left: 1em;
        & > h1 {
            font-size:1.6em;
            margin-top:0;
            text-align: center;
        }
        img {
            float: right;
        }
        &:after {
            display: block;
            content: "";
            clear: both;
        }
        time {
            font-size: .8em;
        }
    }
}