{% extends "/layout.html" %} {%block styles%}
<link rel="stylesheet" href="/styles/summernote.css">{%endblock%}
<!----->
{%block main%}
<div class="row">
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Pages</h2>
            </div>
            <div class="panel-body">Click on a page to edit its heading, text, and/or image</div>
            <ul class="list-group">
                {% for page in pages %}
                <li class="list-group-item">
                    <h3>
                        <a href="/admin/page/{{page.page}}">{{page.page}}</a>
                    </h3>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="admin-box panel panel-default">
            <div class="panel-heading">
                <a href="/admin/user" class="btn btn-primary pull-right">New User</a>
                <h2>Users</h2>
            </div>
            <ul class="list-group">
                {% for user in users %}
                <li class="list-group-item">
                    <a href="#" onclick="deleteUser(this, '{{user._id}}')" class="pull-right">
                        <i class="fa fa-trash-o fa-2x"></i>
                    </a>
                    <h4 class="list-group-item-heading"><a href="/admin/user/{{user._id}}">{{user.email}}</a></h4>
                </li>
                {% endfor %}
                <!----->
            </ul>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="admin-box panel panel-default">
            <div class="panel-heading">
                <a href="/admin/post" class="btn btn-primary pull-right">New Post</a>
                <h2>News Posts</h2>
            </div>
            <div class="panel-body">Click on a post title to edit, publish, or unpublish that post.</div>
            <ul class="list-group">
                {% for post in posts %}
                <li class="list-group-item {{'published' if post.published}}">
                    <a href="/admin/post/{{post.slug}}">
                        <h4
 class="list-group-item-heading">{{post.title}}</h4>
                    </a>
                    {% if post.isPublished %}
                    <p>Published {{post.published | prettyDate}}</p>
                    {% endif %}
                    <p>By {{post.author}}</p>
                </li>

                {% endfor %}
                <!----->
            </ul>
        </div>
    </div>
</div>
{% endblock %} {% block finally%}
<script>
    function deleteUser(a, id){
        $.post('/admin/user/delete', {id:id}, function(data){
            console.log("Delete user callback")
            console.log(data);
            if(data.success){
                $(a).parent().fadeOut();
            }

        });
    }
</script>
{% endblock %}
