{%extends "layout.html"%}
<!------>
{% macro upcomingPrinter(classes) %}
<!------>
{{'
<p class="upcoming no-upcoming">No classes</p>' | safe if classes.length == 0}} {% for class in classes | sort(false, false,'StartDateTime')%}
<p class="upcoming clearfix">
    <time>{{class.StartDateTime | prettyTime}}</time>
    {% if class.isWorkshop %}<span class="label label-default">Workshop</span>{%endif%}<a class="class-name" href="/{{'workshops' if class.isWorkshop else 'classes'}}#{{class.ClassDescription.Name | slugify}}">{{class.ClassDescription.Name}}</a>
    <span class="class-instructor">with
        <a class="link-instructor" href="/instructors#{{class.Staff.Name | slugify}}">{{ class.Staff.Name }}</a>
    </span>
</p>
{% endfor %}
<!------>
{% endmacro %} {% block bodyattr%}class="home"{%endblock%}
<!-------->
{% block main %}
<div class="row">

    <div id="left">
        <div id="next" class="next card">
            <h2>
                <i class="fa fa-calendar"></i>Upcoming Classes</h2>
            <h3>{{'Tonight' if pm else 'Today'}}</h3>
            {{upcomingPrinter(today)}}
            <h3>Tomorrow</h3>
            {{upcomingPrinter(tmrw)}}
            <a href="/schedule">
                <small>or check out our entire schedule</small>
            </a>
        </div>
        <div id="special" class="special card">
            <h2>
                <i class="fa fa-bell-o"></i>Workshops</h2>
            {%for month, classes in workshops%}
            <h3>{{month}}</h3>
            <ol class="list-unstyled">
                {% for workshop in classes %}
                <li class="align-right">
                    <a href="/workshops#{{workshop | slugify}}">{{workshop}}</a>
                </li>
                {% endfor %}
            </ol>
            {% endfor %}
        </div>
        <div id="contact" class="clearfix card">
            <h2>
                <i class="fa fa-map-marker"></i>Visit Us</h2>
            <img class="pull-right img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCOyv-a1uHs4R15mdf87cdA-j8zU3GN7Qk&center=Lander,WY&zoom=16&size=100x100&sensor=false" alt="">
            <span>Ananda Yoga Lander</span>
            <br>
            <span>c/o Sylvia Carl</span>
            <br>
            <span>252 N 9th St.</span>
            <br>
            <span>Lander, Wy 82520</span>
        </div>
    </div>

    <div id="right">
        <div id="welcome" class="clearfix card">
            <h2>{{page.heading}}</h2>
            {%if page.image%}
            <img class="pull-right thumbnail" src="{{page.image}}" alt="welcome image">{%endif%} {{page.body | safe}}
        </div>
        <section id="news" class="row">
            <h2 class="visible-xs col-xs-12 text-center">Studio News &amp; Blog</h2>
            {%for post in posts %}
            <div class="article-wrapper col-xs-12 col-lg-6">
                <article class="card">
                    {% if post.headerImg %}
                        <img src="{{post.headerImg}}" alt="Header image for {{post.title}}">
                    {% endif %}
                    <div class="article-content">
                        <h1>
                            <a href="/news/{{post.slug}}">{{post.title}}</a>
                        </h1>
                        <time>Published {{post.published | prettyDate}}</time>
                        <div class="post-body">{{post.body | safe}}</div>
                        <a href="/news/{{post.slug}}">Read More..</a>
                    </div>
                </article>
            </div>{%endfor%}
        </section>
    </div>

</div>
{% endblock %}
