{%extends 'layout.html'%} {% block bodyattr%}class="post"{%endblock%} {%block styles%} {%if post.headerImg %}
<style>
    body > header {
        background-image: url({{post.headerImg}});
    }
</style>
{%endif%} {%endblock%} {%block main%}
<article class="card">
    <header class="byline">
        <h2>
            <a href="/news/{{post.slug}}">{{post.title}}</a>
        </h2>
        <a class="author" href="/instructors#{{post.author | replace(' ', '-')}}">{{post.author}}</a>
        <small>posted {{post.published | prettyDate}}</small>
    </header>
    <hr>
    <div class="content">{{post.body | safe}}</div>


</article>
{%endblock%}