#MQHelper{
    position:fixed;
    right:20px;
    top:10px;
}
#MQHelper li{
    position:relative;
    color:red;
    background-color: black;
    font-weight: bold;
    font-size:2em;
    padding:5px 10px;
}

h2,
h3,
h4,
h5 {
    font-family: Verdana, sans-serif
}
header {
    background: url(/img/wheat.jpg) center/cover;
    min-height:10em;
}
header h1 {
    color: white;
    background-color: rgba(0, 0, 0, .5);
    display: inline-block;
    padding: 10px;
    border-radius: .2em;
}
.navbar{
    margin-bottom:0;
}
main {
    padding-top:1em;
    background-image: url(/img/old_map.png);
}
.card{
    background-color:#F5F5F5;
}
#left > div {
    border: 1px solid rgba(0, 0, 0, .3);
    /* margin-top: 1em; */
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 3px;
}
#left>div>h2 {
    font-family: Verdana, sans-serif;
    margin: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, .1);
}
#welcome {
}
#welcome > img {
    margin: 1em 1em 1em 0;
}
.article-wrapper {
    padding-bottom: 1em;
}
article {
    background-color: #FEFEFE;
    border: 1px solid rgba(0, 0, 0, .3);
    padding-left: 1em;
}
article h1 {
    text-align: center;
}
article img {
    float: right;
}
article:after {
    display: block;
    content: "";
    clear: both;
}
article time {
    font-size: .8em;
    color:#AAA;
}
footer {
    background-color:#6A6A6A;
    padding-top: 2em;
    color:white;
    padding-right:20px;
}
footer p {
    margin-bottom:0;
    padding-bottom:1em;
    text-align: right;
}
footer > a {
    margin-left:20px;
    color:hsla(0, 100%, 50%, 1);
}